*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
li{
    list-style: none;
}

.Header_row{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.Header_bg{
    background-color: darkblue;
    color: #fff;
    padding: 20px 0;
}

.head_list{
    cursor: pointer;
}

button{
    cursor: pointer;
}

/* .updateBtn{
    display: none;
} */

.checked{
    text-decoration: line-through;
}

.unchecked{
    text-decoration: none;
}